<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>OrderList</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	function del() {
		if (!confirm("Are you sure you want to delete")) {
			window.event.returnValue = false;
		}
	}
</script>
</head>
<body>
	<div class="header">
		<div class="title">PROJECT_LIST</div>
	</div>
	<div class="main">
		<form role="form" class="form_area">
			<div class="row">
				<div class="col-md-8 form_input">
					<input class="form-control border_style_radius" type="text"
						placeholder="search keyword">
				</div>
				<div class="col-md-4 form_button">
					<button type="submit" class="btn btn-default border_style_radius">
						<span class="glyphicon glyphicon-search span_style"></span>Search
					</button>
					<a href="addOrder" class="btn btn-info border_style_radius"
						role="button"><span
						class="glyphicon glyphicon-plus span_style"></span>Add</a> <a
						href="uploadOrder" class="btn btn-success border_style_radius"
						role="button"><span
						class="glyphicon glyphicon-cloud-upload span_style"></span>Upload</a>
				</div>
			</div>
		</form>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>PROJECT_CODE</th>
					<th>TITLE</th>
					<th>COMPANY_NAME</th>
					<th>OPTION</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order:${orders}">
					<td th:text="${order.PROJECT_CODE}" />
					<td th:text="${order.TITLE}" />
					<td th:text="${order.COMPANY_NAME}" />
					<td><a th:href="@{modifyOrder(seq=${order.SEQ})}"
						target="_blank">Detail</a>&nbsp;|&nbsp; <a th:href="@{deleteOrder(seq=${order.SEQ})}" target="_blank" onclick="return del()">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>