<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add order</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add order</h1>
	<form action="#" th:action="@{/addOrder}" th:object="${order}"
		method="post">
		<p>
			PROJECT_CODE: <input type="text" th:field="*{PROJECT_CODE}" />
		</p>
		<p>
			TITLE: <input type="text" th:field="*{TITLE}" />
		</p>
		<p>
			COMPANY_NAME: <input type="text" th:field="*{COMPANY_NAME}" />
		</p>
		<p>
			CONTRACT_USER_CODE: <input type="text" th:field="*{CONTRACT_USER_CODE}" />
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>
</body>